# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Task_3_1/.idea/
/Task_3_1/out/
/Task_3_1/Task_3_1.iml
/Task_3_2/.idea/
/Task_3_2/out/
/Task_3_2/Task_3_2.iml
/Task_3_3/.idea/
/Task_3_3/out/
/Task_3_3/Task_3_3.iml
/Task_3_4/.idea/
/Task_3_4/out/
/Task_3_4/Task_3_4.iml
/Task_3_5/.idea/
/Task_3_5/out/
/Task_3_5/Task_3_5.iml
/Task_3_6_1/.idea/
/Task_3_6_1/out/
/Task_3_6_1/Task_3_6_1.iml
/Task_3_6_2/.idea/
/Task_3_6_2/out/
/Task_3_6_2/Task_3_6_2.iml
/Task_3_7/.idea/
/Task_3_7/out/
/Task_3_7/Task_3_7.iml
/Task_3_8/.idea/
/Task_3_8/out/
/Task_3_8/Task_3_8.iml