# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Task_3_1/.idea/
/Task_3_1/out/
/Task_3_1/Task_3_1.iml
/Task_3_2/.idea/
/Task_3_2/out/
/Task_3_2/Task_3_2.iml
/Task_3_3/.idea/
/Task_3_3/out/
/Task_3_3/Task_3_3.iml
/Task_3_4/.idea/
/Task_3_4/out/
/Task_3_4/Task_3_4.iml
/Task_3_5/.idea/
/Task_3_5/out/
/Task_3_5/Task_3_5.iml
/Task_3_6_1/.idea/
/Task_3_6_1/out/
/Task_3_6_1/Task_3_6_1.iml
/Task_3_6_2/.idea/
/Task_3_6_2/out/
/Task_3_6_2/Task_3_6_2.iml
/Task_3_7/.idea/
/Task_3_7/out/
/Task_3_7/Task_3_7.iml
/Task_3_8/.idea/
/Task_3_8/out/
/Task_3_8/Task_3_8.iml
/Task_4_1/.idea/
/Task_4_1/out/
/Task_4_1/Task_4_1.iml
/Task_4_2/.idea/
/Task_4_2/out/
/Task_4_2/Task_4_2.iml
/Task_4_3/.idea/
/Task_4_3/out/
/Task_4_3/Task_4_3.iml
/Task_4_4/.idea/
/Task_4_4/out/
/Task_4_4/Task_4_4.iml
/Task_4_5/.idea/
/Task_4_5/out/
/Task_4_5/Task_4_5.iml
/Task_4_6/.idea/
/Task_4_6/out/
/Task_4_6/Task_4_6.iml
/Task_4_7/.idea/
/Task_4_7/out/
/Task_4_7/Task_4_7.iml
/Task_4_8/.idea/
/Task_4_8/out/
/Task_4_8/Task_4_8.iml
/Task_4_9/.idea/
/Task_4_9/out/
/Task_4_9/Task_4_9.iml
/Task_4_10/.idea/
/Task_4_10/out/
/Task_4_10/Task_4_10.iml
/Task_4_11/.idea/
/Task_4_11/out/
/Task_4_11/Task_4_11.iml
/Task_4_12/.idea/
/Task_4_12/out/
/Task_4_12/Task_4_12.iml
/Task_4_13/.idea/
/Task_4_13/out/
/Task_4_13/Task_4_13.iml